<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mon_style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/WE_Logo.ico')}}">
    <title>TekSniper💀</title>
</head>
<body>
    <div class="container">
        <h1 class="title">
            Bienvenue sur mon site !
        </h1>
        <h3 class="subtilte">
             <p>Merveille Lubenzo alias teksniper, est un développeur informatique et graphique designer</p>
             <p>
                 Pour vos besoins, <a href="/contact">contactez nous !!!</a>
             </p> <br>
             <div class="control">
                <a href="/about" class="button is-link">A propos 😉</a>
             </div>
        </h3>
    </div>
</body>
</html>